.masthead{
    height: 100vh;
    min-height: 500px;
    background-image: url('../images/andrew-coelho-46449-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container{
    background-color: #eaccb0bf;
}