.white{
    color: white
}
.hide{
    display: none
}

.bgColor{
    background-color : black
}
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-center{
    text-align: center;
}

.spacing{
    letter-spacing: .25em;
}