body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;

    /*declare css variables*/
    --bg-info: #CDDEFF;
    --text-info: #352B91;
    --bg-success: #CFF3DA ;
    --text-success: #0B860C;
    --bg-warning: #FCFBC9;
    --text-warning: #8C7912;
    --bg-error: #FAD3D7;
    --text-error: #8D2740;


}
.message{
    width: 100%;
    height: auto;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;

}
/*call css variable for each class*/
.message-info {
    background-color: var(--bg-info);
    color: var(--text-info);
}
.message-success{
    background-color: var(--bg-success);
    color: var(--text-success);
}
.message-warning{
    background-color: var(--bg-warning);
    color: var(--text-warning);
}
.message-error{
    background-color: var(--bg-error);
    color: var(--text-error);
}