.container{
    height: 200px;
    width: 300px;
    border: 1px solid lightgray;
}

.redbox{
    height: 100px;
    width: 100%;
    background-color: #B90A2E;
    position:relative;
    top: -100px;
    z-index: 99;

}

.bluebox{
    height: 200px;
    width: 100px;
    background-color: #002765;
    position: relative;
    z-index: 100;
}

