body{
    background-color: #AFE0E6;
    font-family: "American Typewriter";
}

h1{
    background-color: #fff;
    text-align: center;
    border-radius: 25px;
    text-shadow: 2px 2px #ff00f3;
    letter-spacing: .25em;
}

h2{
    color:#3B8E3C;
    font-weight: lighter;
}

hr{
    color: #ffffff;
    background-color: #fff;
    height: 2px;
    border:none;
}
img{
    transform:rotate(10deg) translateX(-110px) translateY(25px);
}

section:nth-of-type(2){
    background-color: #fff;
}
section:nth-child(5) {
    text-align:center;
}


#wrapper{
    color: #3039A3;

}

#wrapper :first-child ul {
     text-decoration: underline;
 }

