
body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    text-align: center;
    font-size: 3em;
    margin: 0 0 .5em 0;
}
footer{
    margin: 1em 0 0 0;
}


.alert-info {
    border: solid 2px lightgray;
    text-align: center;
    padding: 1em 0;
    background-color: #CCFFFF;
    font-weight: bold;
}


.nav-links {
    list-style: none;
    text-align: center;
    width: 339px;
    margin: 0 auto;
    display: block;
    padding: 0;
    font-weight: 700;

}

.main {

    display: block;
    margin: 0 auto;
    font-weight: bold;

}

.sub-section {
    font-style: italic;
    font-weight: 700;
    display: block;
    margin: 0 auto;
}

img {
    width: 339px;
    height: 224px;
    margin: 0 auto;
    display: block;
}

li {
    background-color: #CCC;
    margin: 1em 0;
    padding: 1em 0;
    text-decoration: underline;
    color: #0000FF;
}


#social-media-links>img{
    width: 50px;
    height: 50px;
    float: right;


}


/* Medium devices (desktops, 934px and up) */
@media screen and (min-width: 934px) {
    .hidden-on-desktop {
        display: none;
    }



    .nav-links{
        list-style: none;
        text-align: right;


    }

    .main {
        display: block;
        font-weight: bold;

    }
    .sub-section {
        font-style: italic;
        font-weight: 700;
        display: block;

    }
    li{
        display: inline-block;
        background-color: #ffffff;
    }

    img {
        width: 100%;
        height: auto;
        display: block;
    }
    h1{
        text-align: unset;
    }

}